<html ng-app="ContactApp">
	<head>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
	<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body ng-controller="MainController">
        <h1>{{ title }}</h1>
  
        <form ng-submit="submit()">
            <p>{{subtitle.name}}</p><input ng-model="new_site.projectTitle" type="text"/>
            <p>{{subtitle.project}}</p><input ng-model="new_site.projectSite" type="text"/>
            
            <ul>
                <p>{{subtitle.service}}</p>
			<li ng-repeat="item in new_site.services">
				<input type="checkbox" ng-model="item.selected" />
				{{item.service}}
			</li>
                
                <p>{{subtitle.purpose}}</p>
                <li ng-repeat="item in new_site.purposes">
				<input type="checkbox" ng-model="item.selected" />
				{{item.purpose}}
			</li>
		</ul>
            <p>{{subtitle.budget}}</p>
            <div ng-init="budget">
            <select ng-model="budget">
                <option value="under1K"> under 10K </option>
                <option value="10-20K"> 10-20K </option>
                <option value="20-30K"> 20-30K </option>
                <option value="30-40K"> 30-40K </option>
                <option value="40-50K"> 40-50K </option>
                <option value="20-30K"> more than 50K </option>
                </select>
            </div>
            
            
            <p>{{subtitle.other}}</p>
            <input class="comment-box" ng-model="new_site.projectOther" type="text"/>
            
            <br/><br/><input type="submit" value="Submit"/>
        </form>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="main.js"></script>
	</body>
</html>